//background colors

$bg-white: #ffffff;
$bg-gray: #bbbbbb;
$bg-blue: #527ceb;
$bg-darkGray: #3d3d3d;
$bg-whitesmoke: #0202301a;
$bg-smokegray: #000000b3;
$bg-black: #000000e6;

//text colors

$t-white: #ffffff;
$t-gray: #aaaaaa;
$t-sky: #03a7d3e6;
$t-orange: #f9636b;
$t-purple: #b6246e;
$t-dark: #1e1e1e;

// border colors

$b-white: #ffffff1a;
$b-orange: #f9636b;
$b-purple: #b6246e;
