@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "node_modules/bootstrap/scss/bootstrap";

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-radius: 25px;
  padding: 5px 10px;
  border: none;
}
