@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "node_modules/bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-radius: 25px;
  padding: 5px 10px;
  border: none;
}

.blue-btn {
  background-color: #527ceb;
  color: whitesmoke;
}

.orange-btn {
  background-color: #f9636b;
  color: whitesmoke;
}

.orange {
  color: #f9636b;
}

.bg-blue {
  background-color: rgb(10, 21, 76);
  color: whitesmoke;
}
