@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "node_modules/bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-radius: 25px;
  padding: 5px 10px;
  border: none;
}

.blue-btn {
  background: linear-gradient(
    to right,

    rgb(6, 156, 202) 0%,

    rgb(30, 68, 135)
  );
  color: whitesmoke;
}

.orange-btn {
  background: linear-gradient(
    to right,

    #f9636b 0%,

    #b6246e 100%
  );
  color: whitesmoke;
}

.orange {
  color: #f9636b;
}

.bg-blue {
  background-color: rgb(10, 21, 76);
  color: whitesmoke;
}
